body {
  overflow-x: hidden; /* This prevents horizontal scrolling */
}

::-webkit-scrollbar {
  width: 0px;
}

.imgCard {
  border-radius: 12px;
  background-color: #f0f4f9;
  width: 30%;
  margin-left: 30px;
  margin-bottom: 20px;
  box-sizing: border-box; /* Ensure padding and border don't add to the width */
}

.imgCard:hover {
  background-color: rgb(240, 240, 240);
}

.picName {
  font: var("Google Sans"), "Google Sans", Roboto, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: var(--dt-title-small-spacing, 0.0178571429em);
  align-self: center;
  padding-top: 3px;
  padding-left: 10px;
}

.imgDate {
  font-size: 13px;
  color: gray;
  padding-top: 8px;
}

.menuIcon {
  border: none;
  background-color: transparent;
  border-radius: 50%;

  &:hover {
    background-color: lightgray;
    transition-duration: 0.5s;
  }
}

.openMenuDiv {
  background-color: white;
  border-radius: 8px;
  padding: 10px;
  width: 180px;
  position: absolute;
  top: 0;
  left: -120px;
}

.menuItemDiv {
  align-items: center;
  color: gray;
  display: flex;
  width: 100%;
  padding: 3px 5px;
  cursor: pointer;

  &:hover {
    color: black;
    transform: scale(1.04);
    transition-duration: 0.3s;
    background-color: whitesmoke;
  }
}

.menuText {
  padding-left: 12px;
  font-size: 17px;
}

ul {
  list-style-type: none;
}

.emptyPic {
  display: flex;
  justify-content: center;
  padding-top: 110px;
}

.emptyText {
  text-align: center;
  font-size: 18px;
  margin-top: 5px;
  color: darkred;
}

/* Responsive Design */
@media (max-width: 1200px) and (min-width: 771px) {
  .imgCard {
    width: auto;
    min-width: 44%;
    max-width: 44%;
  }

  .imgCard:nth-child(even) {
    margin-right: 0;
  }
}

@media (max-width: 770px) {
  .imgCard {
    width: 90%;
    margin-left: 30px;
    margin-right: 0;
  }
}

/* Large Screens - Three Cards in One Row */
@media (min-width: 1201px) {
  .imgCard {
    width: 30%;
  }
}
